---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import ProyectCard from '../components/ProyectCard.astro';
import ContactAction from '../components/ContactAction.astro';
---

<BaseLayout>
	<div class="pt-30">
		<main class="mx-auto xl:max-w-6xl">
			<div class="wrapContents relative">
				<Hero />

				<div class="about my-35">
					<div class="about__innner px-10">
						<h2 class="titleA">About me</h2>
						<About />
					</div>
				</div>
				
				<div class="projects py-26">
					<div class="projects__inner px-10">
						<h2 class="titleA">Proyects</h2>
						<div class="cardWrap">
							<ProyectCard />
						</div>
					</div>
				</div>
				
				<div class="contact my-26">
					<h2 class="titleA -noUnderLine">Feel free to contact me!</h2>
					<ContactAction class="buttonA">Send me an email</ContactAction>
				</div>
			</div>
		</main>
	</div>
</BaseLayout>


<style lang="scss">
    @use '../styles/common/vars.scss' as *;  
	@use '../styles/common/mixin.scss' as *;


    .about {
    }
    .about__contents {
        padding: 0 var(--space-24);
    }
	.projects {
        background-color: #fff;
        position: relative;

		&::before {
			content: "";
			position: absolute;
			width: 100vw;
			height: 100%;
			margin: 0 calc(50% - 50vw);
			background-color: #fff;
			z-index: -1;
			top: 0;
		}
		.cardWrap {
			display: flex;
			align-items: stretch;
			
			@include mq-pc {
				gap: var(--space-80);
				padding: 0 var(--space-48);
			}
			@include mq-sp {
				flex-direction: row;
			}
		}
	}
	.contact {
		@include mq-pc {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

</style>