---
import Icon from './Icon.astro';
---

<div class="about__contents">
    <h3 class="titleB">Background</h3>
    <p>Born and raised in Okinawa, Japan. Currently living in Barcelona.</p>
    <p>I completed a bachelor's degree in Hispanic Philology in Osaka.</p>
    <p>Afterwards, I have been working as a front end developer at a Japanese company for over 3 years.</p>
    <p>Meanwhile, I moved to Barcelona and completed a Grado Superior in Application Development.</p>
    <p>I love all kinds of languages, from spoken word to code!</p>
    <h3 class="titleB">Experience</h3>
    <ul class="ulList">
        <li><span class="-fontBold">Front End Developer</span> | neu inc | Osaka, Japan | 08/2021 - 06/2025</li>
        <li><span class="-fontBold">Data Analysis & Visualization (Internship)</span> | Analytics 4 People | Barcelona | 06/2024 - 11/2024</li>
        <li><span class="-fontBold">Japanese Language Instructor</span> | EHLE japanese language school | Osaka, Japan | 04/2019 - 05/2021</li>
    </ul>
    <h3 class="titleB">Education</h3>
    <ul class="ulList">
        <li>Grado Superior of DAM (Multi-platform Applications Development) | iFP L'Hospitalet | Barcelona | 09/2023 - 07/2025</li>
        <li>Bachelor Degree of Hispanic Philology | Kansai Gaidai University | Osaka, Japan | 04/2015 - 03/2019</li>
    </ul>
    <h3 class="titleB">Skills</h3>
    <ul class="techList">
        <li>
            <Icon icon="javascript" size="1.5em"/>
            <span class="techList__name">JavaScript</span>
        </li>
        <li>
            <Icon icon="Typescript" size="1.5em"/>
            <span class="techList__name">TypeScript</span>
        </li>
        <li>
            <Icon icon="react" size="1.5em"/>
            <span class="techList__name">React</span>
        </li>
        <li>
            <Icon icon="astro" size="1.5em"/>
            <span class="techList__name">Astro</span>
        </li>
        <li>
            <Icon icon="vite" size="1.5em"/>
            <span class="techList__name">Vite</span>
        </li>
        <li>
            <Icon icon="html" size="1.5em"/>
            <span class="techList__name">HTML</span>
        </li>
        <li>
            <Icon icon="css" size="1.5em"/>
            <span class="techList__name">CSS</span>
        </li>
        <li>
            <Icon icon="scss" size="1.5em"/>
            <span class="techList__name">Sass</span>
        </li>
        <li>
            <Icon icon="firebase" size="1.5em"/>
            <span class="techList__name">Firebase</span>
        </li>
        <li>
            <Icon icon="node.js" size="1.5em"/>
            <span class="techList__name">Node.js</span>
        </li>
        <li>
            <Icon icon="mysql" size="1.5em"/>
            <span class="techList__name">MySQL</span>
        </li>
        <li>
            <Icon icon="tailwind" size="1.5em"/>
            <span class="techList__name">Tailwind CSS</span>
        </li>
        <li>
            <Icon icon="figma" size="1.5em"/>
            <span class="techList__name">Figma</span>
        </li>
    </ul>
</div>

<style lang="scss">
    @use '../styles/common/vars.scss' as *;  
	@use '../styles/common/mixin.scss' as *;
    
    .about__contents {
        @include mq-pc {
            font-size: var(--text-lg);
        }
        @include mq-sp {
            font-size: var(--text-md);
        }
    }
    .ulList {
        > li .-fontBold {
            font-weight: 500;
        }
    }
    .techList {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: var(--space-16);

        li {
            display: flex;
            align-items: center;
            gap: 0 var(--space-8);
            font-size: var(--text-base);
            font-weight: 500;
            border: 1px solid var(--gray);
            border-radius: 10px;
            padding: var(--space-8) var(--space-16);
            @include mq-sp {
            }

            .techList__name {
                line-height: 1;
            }
        }
    }
</style>