---
import Icon from './Icon.astro';
import ContactAction from '../components/ContactAction.astro';

---

<nav class="nav">
    <ul class="anchorList">
        <li>
            <a href="#section01" class="anchorList__link">About me</a>
        </li>
        <li>
            <a href="#section02" class="anchorList__link">Project</a>
        </li>
        <li>
            <a href="#section03" class="anchorList__link">Contact</a>
        </li>
    </ul> 
    <ul class="iconLinkList">
        <li>
            <a
            href="https://github.com/inamin-kana"
            class="iconLinkList__link"
            target="_blank" rel="noopener noreferrer"
            >
                <Icon icon="github-logo" size="1.5em"/>
            </a>
        </li>
        <li>
            <a
            href="https://www.linkedin.com/in/kanako-inamine-797757303/"
            class="iconLinkList__link"
            target="_blank" rel="noopener noreferrer"
            >
                <Icon icon="linkedin-logo" size="1.5em"/>
            </a>
        </li>
        <li>
            <ContactAction class="iconLinkList__link">
                <Icon icon="mail" size="1.4em"/>
            </ContactAction>
        </li>
    </ul>
</nav>

<style lang="scss">
    @use '../styles/common/vars.scss' as *;  
	@use '../styles/common/mixin.scss' as *;
    
    .anchorList {
        @include mq-pc {
            display: none;
        }
        @include mq-sp {
            display: inline-block;
            width: 100%;
            font-size: var(--text-lg);
            font-family: var(--sub-font);
            font-weight: 500;

            > li {
                padding-left: 1em;
                display: flex;
                align-items: center;
                &::before {
                    content: "";
                    width: .6em;
                    height: 4px;
                    background-color: var(--green);
                    margin-right: var(--space-16);
                }
            }
        }

        > li:nth-of-type(n+2) {
            margin-top: var(--space-24);
        }
    }

    .iconLinkList {
        display: flex;
        align-items: center;
        gap: 0 1.5rem;
        li {
            height: fit-content;
            display: contents;
        }
    }
    :global(.body.-menuOpen .iconLinkList) {
        @include mq-sp {
            border-top: 1px solid var(--main);
            justify-content: flex-end;
            margin-top: var(--space-32);
            padding: var(--space-32) var(--space-16) 0;
            opacity: 1;
        }
    }
</style>

