---
import Icon from './Icon.astro';
import ContactAction from '../components/ContactAction.astro';

---

<nav class="nav">
    <ul>
        <li>
            <a
            href="https://github.com/inamin-kana"
            class="nav__link"
            target="_blank" rel="noopener noreferrer"
            >
                <Icon icon="github-logo" size="1.5em"/>
            </a>
        </li>
        <li>
            <a
            href="https://www.linkedin.com/in/kanako-inamine-797757303/"
            class="nav__link"
            target="_blank" rel="noopener noreferrer"
            >
                <Icon icon="linkedin-logo" size="1.5em"/>
            </a>
        </li>
        <li>
            <ContactAction class="nav__link">
                <Icon icon="mail" size="1.4em"/>
            </ContactAction>
        </li>
    </ul>
</nav>

<style lang="scss">
    @use '../styles/common/vars.scss' as *;  
	@use '../styles/common/mixin.scss' as *;

    .nav {
        ul {
            display: flex;
            align-items: center;
            @include mq-pc {
                gap: 0 1.5rem;
            }
            li {
                height: fit-content;
                display: contents;
            }
        }
    }
</style>

