---
---

<div class="card">
    <a 
    href="/"
    class="card__link"
    >
        <div class="card__body">
            <span class="card__state -finished">Finished</span>
            <h3 class="card__title">Ticket base ...</h3>
            <ul class="card__tagList">
                <li>React</li>
                <li>Node.js</li>
            </ul>
        </div>
        <div class="card__thumb">
            <img 
            src="/public/assets/card/thumb01.jpg"
            srcset="/public/assets/card/thumb01.jpg 1x,/public/assets/card/thumb01@2x.jpg 2x"
            alt=""
            >
        </div>
    </a>
</div>
<div class="card">
    <a 
    href="/"
    class="card__link"
    >
        <div class="card__body">
            <span class="card__state -develop">In develop</span>
            <h3 class="card__title">Ticket base ...</h3>
            <ul class="card__tagList">
                <li>React</li>
                <li>Node.js</li>
            </ul>
        </div>
        <div class="card__thumb">
            <img 
            src="https://placehold.jp/150x150.png"
            srcset="https://placehold.jp/150x150.png"
            alt=""
            >
        </div>
    </a>
</div>




<style lang="scss">
    @use '../styles/common/vars.scss' as *;  
	@use '../styles/common/mixin.scss' as *;


    .card {
        position: relative;
        z-index: 1;
        @include mq-pc {
            width: calc(100% - #{var(--space-80)} / 2);
        }
        // &::after {
        //     content: "";
        //     width: 100%;
        //     height: 100%;
        //     background-color: var(--main);
        //     border-radius: 2rem;
        //     position: absolute;
        //     top: var(--space-4);
        //     left: var(--space-4);
        //     z-index: -1;
        // }
    }
    .card__link {
        height: 100%;
        background-color: #fff;
        display: block;
        overflow: hidden;
        border-radius: 2rem;
        border: 2px solid var(--main);
        display: flex;
        flex-direction: column;
        box-shadow: 4px 4px 0px 0px var(--main);
        -webkit-box-shadow: 4px 4px 0px 0px var(--main);
        -moz-box-shadow: 4px 4px 0px 0px var(--main);
        @include mq-pc {
            padding: 24px;
        }

        &:hover {
            @include mq-pc {
                .card__thumb img {
                    transform: scale(1.05);
                }
            }
        }
    }
    .card__body {
        @include mq-pc {
            padding: var(--space-16) var(--space-16) 0;
        }
    }
    .card__state {
        display: flex;
        align-items: center;
        // justify-content: flex-end;

        &::before {
            content: "";
            width: .5rem;
            height: .5rem;
            border-radius: 50%;
            margin-right: var(--space-6);
        }
        &.-finished {
            &::before{
                background-color: var(--green);
            }
        }
        &.-develop {
            &::before {
                background-color: var(--yellow);
            }
        }
    }
    .card__title {
        font-weight: 500;
        @include mq-pc {
            font-size: var(--text-lg);
            margin-top: var(--space-16);
        }
    }
    // .card__description {
    //     margin-top: var(--space-8);
    // }
    .card__tagList {
        display: flex;
        flex-wrap: wrap;
        gap: var(--space-16);
        margin-top: var(--space-24);
        @include mq-pc {
        }

        li {
            color: var(--main);
            line-height: 1;
            font-weight: 500;
            border: 2px solid var(--sub);
            border-radius: 2rem;
            background-color: #ECF5FF;
            padding: var(--space-6) var(--space-16);
            @include mq-pc {
                font-size: var(--text-base);
            }
        }
    }
    .card__thumb {
        order: -1;
        width: 100%;
        border-radius: 1.5rem;
        overflow: hidden;
        @include mq-pc {
            height: 210px;
        }
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            
            transition: transform .25s;
        }
    }
</style>