---
import '../styles/global.css'; 
import '../styles/reset.css';
import Intro from '../components/Intro.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Kanako Inamine | Portfolio site</title>
		<meta name="theme-color" content="#fff" >
		<meta name="twitter:card" content="summary" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Kanako Inamine | Porfolio site" />
		<meta property="og:description" content="The personal site of Kanako Inamine" />
		<meta property="og:url" content="" />
		<meta property="og:image" content="" />
		<meta property="og:site_name" content="Kanako Inamine | Porfolio site">
		<!-- google font -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
	</head>
	<body class="body -showIntro -removeIntro">
		<Intro />
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<script is:inline>
	if (typeof window !== 'undefined') {
		window.addEventListener('DOMContentLoaded', () => {
			const body = document.body;

			body.classList.add('-showIntro');

			setTimeout(() => {
				body.classList.add('-removeIntro');
			}, 1300);
		});
	}
</script>

<style lang="scss">
	@use '../styles/common/vars.scss' as *;  
	@use '../styles/common/mixin.scss' as *;

	.body {
		color: var(--main);
		background-color: var(--bg);
		font-size: var(--text-base);
		font-family: var(--base-font);
	}
	:global(.body.-menuOpen) {
		overflow: hidden;
		height: 100vh;
	}
	img {
		width: 100%;
		height: auto;
	}

	/* Title */
	:global(.titleA) {
		font-weight: 500;
		font-family: var(--sub-font);
		padding-bottom: var(--space-16);
		position: relative;
		@include mq-pc {
			font-size: var(--text-3xl);
		}
		@include mq-sp {
			font-size: var(--text-2xl);
		}
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 2px;
			bottom: 0;
			left: 0;
			background-color: var(--main);
		}
	}
	:global(.titleA.-noUnderLine) {
		&::after {
			display: none;
		}
	}
	:global(.titleA + *) {
		@include mq-pc {
			margin-top: var(--space-64);
		}
		@include mq-sp {
			margin-top: var(--space-40);
		}
	}
	
	:global(.titleA + .buttonA) {
		@include mq-pc {
			margin-top: 0;
		}
		@include mq-sp {
			margin-top: var(--space-32);
		}
	}

	:global(.titleB) {
		font-weight: 500;
		font-family: var(--sub-font);
		@include mq-pc {
			font-size: var(--text-xl);
		}
		@include mq-sp {
			font-size: var(--text-lg);
		}
	}
	:global(* + .titleB) {
		@include mq-pc {
			margin-top: var(--space-40);
		}
		@include mq-sp {
			margin-top: var(--space-32);
		}
	}
	:global(.titleB + *) {
		margin-top: var(--space-16);
	}

	/* List */
	:global(.ulList > li) {
		position: relative;
		padding-left: 1.1em;
	}
	:global(.ulList > li:not(:first-of-type)) {
		margin-top: var(--space-8);
	}
	:global(.ulList > li::before) {
		content: "";
		position: absolute;
		flex-shrink: 0;
		width: .5rem;
		height: .5rem;
		background-color: var(--main);
		border-radius: 50%;
		top: .5em;
		left: 0;
	}

	/* Nav */
	:global(.iconLinkList__link) {
		display: inline-block;
		text-decoration: none;
		position: relative;
		z-index: 1;
		&::after {
			content: "";
			position: absolute;
			width: calc(100% + var(--space-16));
			height: calc(100% + var(--space-16));
			border-radius: 50%;
			background-color: var(--link);
			top: 0;
			bottom: 0;
			right: 0;
			left: -.5rem;
			margin: auto;
			z-index: -1;
			opacity: 0;
			transition: opacity .25s;
		}
		
		@include mq-pc {
			&:hover {
				&::after {
				opacity: 1;
				}
			}
		}
	}
</style>
